.aboutpage {
  margin-top: 30px;
}
p {
  font-family: monospace;
  font-size: 15px;
}
.aboutpage img {
  width: 100%;
  height: 80vh;
}
.aboutpage_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  font-family: monospace;
}
.aboutpage_intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aboutpage_intro_2_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.aboutpage_intro_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  margin: 15px;
}
.aboutpage_intro_2 img {
  width: 100%;
}
.aboutpage_intro img {
  margin: 10px;
  width: 800px;
  height: 400px;
}
.tech_cont {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;
  color: aliceblue;
}
.tech1 {
  background-color: rgba(6, 184, 130, 0.979);
  width: 400px;
  height: 300px;
  padding: 0 30px;
  /* margin: 0 70px; */
}
.tech2 {
  background-color: darkcyan;
  width: 400px;
  height: 300px;
  padding: 0 30px;
  /* margin: 0 70px; */
}
.tech_cont p {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.Awards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin-top: 30px;
}
@media screen and (max-width: 650px) {
  /* .aboutpage img {
    margin-top: 30px;
   
    width: 300px;
  } */
  .aboutpage img {
    width: 100%;
    height: 50vh;
  }
  .aboutpage_intro img {
    width: 400px;
    height: 200px;
  }
  .aboutpage_intro {
    text-align: center;
  }
  .aboutpage_intro_2_cont {
    flex-direction: column;
    text-align: center;
  }
  .aboutpage_intro_2 {
    justify-content: center;
  }
  .aboutpage_intro_2 img {
    width: 100%;
  }
  .tech_cont {
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .tech1 {
    width: 300px;
    height: 70vh !important;
  }
  .tech2 {
    width: 300px;
    height: 300px;
    padding: 0 30px;
    margin-top: 30px;
  }
  .Awards {
    width: 100%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 400px) {
  .aboutpage img {
    margin-top: 30px;
    /* background-color: aquamarine; */
    width: 300px;
  }
  .aboutpage_intro img {
    width: 300px;
    height: 150px;
  }
  .aboutpage_intro_2_cont {
    flex-direction: column;
  }
  .aboutpage_intro_2 {
    justify-content: center;
  }
  .aboutpage_intro_2 img {
    width: 100%;
  }
  .tech_cont {
    justify-content: center;
    margin-left: 0 auto;
  }
  .tech1 {
    width: 250px;
    height: 300px;
  }
  .tech2 {
    width: 250px;
    height: 300px;
    padding: 0 30px;
  }
}
