.main_container {
  width: 100%;
  /* background-color: aqua; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
  /* background: rgb(255, 193, 214); */
  background-color: rgb(240, 240, 240);
}
.big_image_container {
  margin-top: 10px;
  width: 600px;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
}
.des_cont {
  margin-left: 10px;

  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.des_cont_child {
  display: flex;
  align-items: center;
}
.big_image_container img {
  /* margin-top: 20px; */
  width: 360px;
  height: auto;
}
.largeimage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_des {
  font-size: 12px;
  font-family: monospace;
  color: #656565;
  /* background-color: blueviolet; */
}
.small_image_container {
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.small_image_container img {
  width: 115px;
  height: 118px;
  border-radius: 3px;
  margin: 2px;
  cursor: pointer;
}
.small_image_container img:hover {
  scale: 1.05;
}
.btn_container {
  display: flex;
  width: 100%;
  width: auto;
}
.des_cont_child span {
  margin-left: 5px;
}
.price_rating {
  display: flex;
}
@media screen and (max-width: 650px) {
  .main_container {
    width: 95vw !important;
  }
  .big_image_container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .small_image_container {
    flex-direction: row;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap !important;

    /* margin: 0%;
    padding: 0%; */
    /* width: 100vw; */
    width: 100%;
  }
  .small_image_container img {
    width: 80px;
    height: 80px;
  }
  .des_cont {
    width: 100%;
  }
  .des_cont p {
    width: 95%;
    padding: 5px;
  }
  .des_cont_child {
    flex-direction: column;
  }
  .largeimage {
    width: 100%;
  }
  .largeimage img {
    width: 100%;
  }
  .item_title {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .small_image_container img {
    width: 105px;
    height: 105px;
  }
}

@media screen and (max-width: 380px) {
  .small_image_container img {
    width: 120px;
    height: 120px;
  }
}
